<svelte:head>
  <title>À propos | {config.title}</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">About this site</h1>

<p>This is the 'about' page. There's not much here.</p>
