<svelte:head>
  <title>Texte n° {texteId}</title>
</svelte:head>

<div id="print">

<button class="no-print text-3xl text-blue underline" on:click="print()">Imprimer</button>

<div class="page-break page-title">
<img class="w-40 block mx-auto" src="/larem_logo_bleu_728x727.png" alt="Logo de LaREM">
<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">Texte n°&nbsp;{texteId}</h1>
<h2 class="text-center mt-4 mb-8 p-4 uppercase">{texteMetadata.txt_titre}</h2>
</div>

{#each amendements as amendement}
{#if amendement.amdt_etat === "DEPOSE"}
<div class="page-break">
<img class="w-20 block mx-auto" src="/larem_logo_bleu_728x727.png" alt="Logo de LaREM">
<div class="uppercase italic float-left -mt-12">{raccourci_division_place(amendement)}</div>
<div class="uppercase italic float-right -mt-12"><abbr>n°</abbr> {amendement.amdt_id}</div>

<hr />

<h2 class="text-center uppercase italic">{texteMetadata.txt_titre_court} - (<abbr>n°</abbr>&nbsp;{texteId})</h2>

<h3 id="amendement-{amendement.amdt_id}" class="text-center uppercase text-2xl">Amendement <abbr>n°</abbr>&nbsp;{amendement.amdt_id}</h3>

<div class="text-center italic">Présenté par</div>
<div class="text-center">{amendement.aut_civ} {amendement.aut_nom}</div> 

<h3 class="uppercase text-xl">{titre_division(amendement)}</h3>

<div class="text-center">----------</div>

{#if amendement.amdt_dispositif}
<div class="dispositif">{@html amendement.amdt_dispositif}</div>
{/if}

<h3 class="uppercase">Exposé sommaire</h3>
<div class="expose">{@html amendement.amdt_expose}</div>

</div>
{/if}
{/each}
</div>

<style>
  :global(#sapper nav), :global(#sapper footer) {
    display: none;
  }
  :global(#sapper main) {
    margin: 0;
    padding: 0 3em;
  }
  :global(.container) {
    max-width: none;
  }
  #print {
    font-family: "Verdana", "Helvetica", sans-serif;
  }
  h1, h2, h3 {
    text-align: center;
    
  }
  hr {
    border-top: 1px solid black;
    margin: 1em 0;
    height: 1px;
  }
  div.dispositif, div.expose {
    text-align: justify;
  }
  :global(p) {
    overflow-wrap: break-word;
  }

  :global(table, table tr, table td) {
    border-color: grey;
    border-width: 1px;
  }

  @media print {
    div.page-title {
      margin-top: 8cm;
      height: 12cm;
    }
    div.page-break {
      break-after: page;
    }
    .no-print {
      display: none;
    }
  }
  @media screen {
    div.page-break {
      border: 1px solid black;
      margin-bottom: 1em;
      padding: 0.5em;
    }
  }
</style>

<script>
  import sort from "../../../../lib/sort"
  import { sanitiseMinimalHtml } from "../../../../lib/check"

  export default {
    async preload({ params }) {
      const { texte, commission } = params,
        res = await this.fetch(`amendements/${texte}/${commission}.json`, {
          credentials: "same-origin",
        })
      let { texteMetadata, amendements } = await res.json()

      if (res.status === 200) {
        amendements.map(
          amendement => {
            if (amendement.amdt_dispositif) {
              amendement.amdt_dispositif = sanitiseMinimalHtml(amendement.amdt_dispositif || "")
            }
            amendement.amdt_expose = sanitiseMinimalHtml(amendement.amdt_expose || "-")
            return amendement
          }
        )
        amendements.sort(sort.sort_amendements)
        return { texteId: texte, texteMetadata, commission, amendements }
      } else {
        this.error(res.status, amendements.message)
      }
    },

    methods: {
      print() {
        // eslint-disable-next-line no-undef
        window.print()
      },
    },

    helpers: {
      raccourci_division_place({ amdt_division, amdt_division_place }) {
        if (amdt_division && amdt_division.substring(0, 8) === "Article ") {
          if (amdt_division_place == "APRES") {
            return "ap. art. " + amdt_division.substring(8)
          } else if (amdt_division_place == "AVANT") {
            return "av. art. " + amdt_division.substring(8)
          } else {
            return "art. " + amdt_division.substring(8)
          }
        }
        return amdt_division
      },
      titre_division({ amdt_division, amdt_division_place }) {
        if (amdt_division_place === "AVANT") {
          return "Avant " + (amdt_division && amdt_division.substring(0, 8) === "Article " ? 
            "l’a" + amdt_division.substring(1) : amdt_division)
        } else if (amdt_division_place === "APRES") {
          return "Après " + (amdt_division && amdt_division.substring(0, 8) === "Article " ? 
            "l’a" + amdt_division.substring(1) : amdt_division)
        } else if (amdt_division_place === "A" || amdt_division_place === "SUPPRESSION" ||
                   amdt_division_place === "REDACTION_GLOBALE") {
          return amdt_division
        }
        return ""
      },
    },
  }

  // vim: set ts=2 sw=2 sts=2 et:
</script>
