
<svelte:head>
  <title>Députés LaREM | {config.title}</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">
  Députés LaREM
</h1>

<div class="flex flex-wrap">
  {#each Object.values(deputeByUid) as depute (depute.uid)}
  <!-- Le style de la grille flexible  -->
  <div class="flex p-2 w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
    <!-- Le style de la carte qui remplit toute la case que le parent lui donne w-full -->
    <div class="flex overflow-hidden rounded shadow-md w-full">
      <!-- Svelte removes background style when rendered on client => use a function to hide the background attribute.
          -->
      <<!-- img
        alt="{photoAlt(depute.etatCivil)}"
        style="{photoStyle(photoDeputeByUid, depute)}"
        src="transparent_150x192.png"
      /> -->
      <img
        alt="{photoAlt(depute.etatCivil)}"
        src="${photoDeputeByUid[depute.uid].chemin}"
      />
      <div class="flex flex-col justify-between p-2">
        <a class="no-underline text-base" href="deputes/{depute.uid}"
          >{depute.etatCivil.ident.prenom} {depute.etatCivil.ident.nom}</a
        >
        <p class="italic text-sm">
          {depute.departementCirco || "Circonscription inconnue"}
        </p>
        <p class="text-grey-darker text-sm">
          {(organeByUid[depute.commissionPermanenteUid] || {}).libelleAbrege ||
          "Commission permanente inconnue"}
        </p>
      </div>
    </div>
  </div>
  {/each}
</div>


<style>




</style>

<script>
  import config from "../../config"

  export default {
    helpers: {
      config,
      photoAlt: etatCivil => {
        const { civ, nom, prenom } = etatCivil.ident
        return `Photo de ${civ} ${prenom} ${nom}`
      },
      /* photoStyle: (photoDeputeByUid, depute) => {
        const photo = photoDeputeByUid[depute.uid]
        if (photo === undefined) {
          return ""
        }
        const { cheminMosaique, xMosaique: x, yMosaique: y } = photo
        return `align-self: center; background: url('${cheminMosaique}') ${-x}px  ${-y}px; height: 192px; width: 150px;`
      }, */
    },
  }
</script>
