a {
  text-decoration: none;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

body {
  font-family: "Lato", sans-serif;
}

del {
  background-color: #f9acaa;
}

input[type="submit"] {
  @apply cursor-pointer;
}

ins {
  background-color: #a2f5bf;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Telegram */

.telegram .item {
  word-break: break-all;
  word-break: break-word;
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-break: loose;
  line-break: strict;
  line-break: anywhere;
  text-wrap: balance;
}

.telegram a {
  @apply text-rose;
}

.telegram a:hover {
  @apply text-rose-dark;
}

.accordion-item .active .accordion-arrow {
  transform: rotate(-180deg);
  transition: ease 0.3s transform;
}


/* Warning block */

.warning-content {
  @apply bg-orange border-t px-4 py-3 text-white;
}

.warning-title {
  @apply bg-orange font-bold px-4 py-2 text-white uppercase;
}

.inset-bottom-20 {
  bottom: 20px;
  left: 20px;
  right: 20px;
}

@media (min-width: 768px) {
  .md\:inset-bottom-20 {
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
}

.show {
  max-height: none !important;
}


/* Calendar */
.calendrier-cats input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .calendrier-cats .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
  }
  .calendrier-cats input:checked ~ .larem{
     background-color: #8997ff;
  }
  .calendrier-cats input:checked ~ .commission{
     background-color: #fcbbd1;
  }
  .calendrier-cats input:checked ~ .assemblee{
    background-color: #faad63;
  }
  .calendrier-cats input:checked ~ .autres{
    background-color: #90f8e9;
  }

  .calendrier-cats .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .calendrier-cats input:checked ~ .checkmark:after {
    display: block;
  }
  .calendrier-cats .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Zendesk blocks */
  .blocks-item {
  box-sizing: border-box;
  color: #666;
  display: flex;
  flex: 1 0 340px;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  /*transition-property: all;
  transition-duration: 220ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);*/
}

.blocks-item:hover, .blocks-item:focus, .blocks-item:active {
  /*background-color: $brand_color;
  background-color: #EFEFEF;
  transform: scale(1.1);*/
}

.blocks-item:hover *, .blocks-item:focus *, .blocks-item:active * {
  color:#444;
  text-decoration: none;
}