<svelte:head>
  <title>- {config.title}</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">{dossier.titreDossier.titre}</h1>

<script>
  import config from "../../config"

  export default {
    async preload({ params }) {
      const { identifiant } = params,
        rdossiers = await this.fetch(
          "https://tricoteuses.fr/data/graphql/assemblee/dossiers_recents.json",
        ),
        jdossiers = await rdossiers.json(),
        dossiers = jdossiers.data.dossiersParlementairesRecents,
        dossier = dossiers.find(e => {
          return e.titreDossier.titreChemin === identifiant
        })

      return { dossier }
    },
    helpers: {
      config,
    },
  }
</script>
