<svelte:head>
  <title>Texte {texte} - {config.title}</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">Texte n°&nbsp;{texte}&nbsp;/ {#if amendementId}amendement n°&nbsp;{amendementId} {#if etat}({raccourci_etat(etat)}){/if}{:else}nouvel amendement{/if}</h1>

<article id="texte">

{#if articles !== null}
<iframe src="{textUrl}{anchorDivision}" title="texte" style="width:100%"></iframe>
{:elseif textUrl !== null}
<div class="indisponible">(<a href="http://{textUrl}" target="_blank" class="text-blue underline">ouvrir le texte dans un nouvel onglet</a>)</div>
{:else}
<div class="indisponible">(texte indisponible)</div>
{/if}

</article>

<hr />

<form action="amendement/{texte}/{commission}/envoi" method="post" on:submit="handleSubmit(event)" class="my-0 mx-auto max-w-3xl">

<div class="field m-4">
  <span class="text-gray-700 italic m-2 inline-block">La division : <span class="mandatory">*</span></span>
  <input list="{datalistArticles}" type="text" autocomplete="off" ref:division name="division" bind:value=division on:change="checkArticle()" class="rounded border border-gray-light p-4 mt-4 {missingDivision}" disabled="{!estResponsable && !amendable}" />
  <div class="list-radio">
    <label class="text-gray-700 italic m-2 inline-block"><input type="radio" name="division_place" value="AVANT" bind:group=division_place on:change="checkArticle()" disabled="{!estResponsable && !amendable}" /> Avant</label>&nbsp;
    <label class="text-gray-700 italic m-2 inline-block"><input type="radio" name="division_place" value="A" checked="" bind:group=division_place on:change="checkArticle()" disabled="{!estResponsable && !amendable}" /> À</label>&nbsp;
    <label class="text-gray-700 italic m-2 inline-block"><input type="radio" name="division_place" value="APRES" bind:group=division_place on:change="checkArticle()" disabled="{!estResponsable && !amendable}" /> Après</label>&nbsp;
    <label class="text-gray-700 italic m-2 inline-block"><input type="radio" name="division_place" value="SUPPRESSION" bind:group=division_place on:change="checkArticle()" disabled="{!estResponsable && !amendable}" /> <span class="big-word">Suppression</span><span class="small-word">Suppr.</span></label>&nbsp;
    <label class="text-gray-700 italic m-2 inline-block"><input type="radio" name="division_place" value="REDACTION_GLOBALE" bind:group=division_place on:change="checkArticle()" disabled="{!estResponsable && !amendable}" /> <span class="big-word">Rédaction globale</span><span class="small-word">RG</span></label>
  </div>
</div>

{#if visibleAlinea}
<div class="field m-4">
  <span class="text-gray-700 italic m-2 inline-block">L’alinéa :</span>
  <input type="text" name="alinea" ref:alinea list="{datalistAlineas}" autocomplete="off" bind:value=alinea on:keyup="checkAlinea()" class="rounded border border-gray-light p-4" disabled="{!estResponsable && !amendable}" />
  <div class="list-radio">
    <label class="text-gray-700 italic m-2 inline-block"><input type="radio" name="alinea_place" value="AVANT" bind:group=alinea_place on:change="checkAlinea()" disabled="{!estResponsable && !amendable}" /> Avant</label>&nbsp;
    <label class="text-gray-700 italic m-2 inline-block"><input type="radio" name="alinea_place" value="A" bind:group=alinea_place on:change="checkAlinea()" disabled="{!estResponsable && !amendable}" /> À</label>&nbsp;
    <label class="text-gray-700 italic m-2 inline-block"><input type="radio" name="alinea_place" value="APRES" bind:group=alinea_place on:change="checkAlinea()" disabled="{!estResponsable && !amendable}" /> Après</label>
  </div>
</div>
{/if}

<div class="field m-4">
  <span class="text-gray-700 italic m-2 inline-block">Dispositif : <span class="mandatory">*</span></span>
  <textarea name="dispositif" id="dispositif" ref:dispositif bind:value=dispositif disabled="{(estResponsable && auteur !== $auteur) || (!estResponsable && !amendable)}" on:change="pawnDispositif()" rows="13" class="rounded border border-gray-light p-4 {missingField(dispositif, futurEtat)}" style="height: 10em;" />
</div>

<div class="field m-4">
  <span class="text-gray-700 italic m-2 inline-block">Exposé des motifs : <span class="mandatory">*</span></span>
  <textarea name="expose" id="expose" ref:expose bind:value=expose disabled="{(estResponsable && auteur !== $auteur) || (!estResponsable && !amendable)}" rows="7" class="rounded border border-gray-light p-4 {missingField(expose, futurEtat)}" />
</div>

<div class="field m-4">
  <span class="text-gray-700 italic m-2 inline-block">Sujet :</span>
  <input type="text" id="titre" name="titre" ref:titre bind:value=titre disabled="{(estResponsable && auteur !== $auteur) || (!estResponsable && !amendable)}" class="rounded border border-gray-light p-4" />
</div>

<div class="flex justify-center">
{#if !etat || etat === "BROUILLON"}
{#if amendable}
<input type="submit" value="Proposer" class="bg-vert hover:bg-vert-dark font-bold py-2 px-4 rounded text-white uppercase" on:click="handleClick('DEPOSE')" />
<input type="submit" value="Enregistrer en brouillon" class="bg-bleu-light hover:bg-bleu font-bold py-2 px-4 rounded text-white uppercase" on:click="handleClick('BROUILLON')" />
{/if}
{:elseif etat === "DEPOSE"}
{#if amendable}
<input type="submit" value="Modifier" class="bg-vert hover:bg-vert-dark font-bold py-2 px-4 rounded text-white uppercase" on:click="handleClick('DEPOSE')" />
{/if}
{#if !estResponsable || auteur === $auteur}
<input type="submit" value="Retirer" class="bg-rose hover:bg-rose-dark font-bold py-2 px-4 rounded text-white uppercase" on:click="handleClick('RETIRE')" />
{/if}
{/if}
</div>

</form>

{#if articles !== null}
<datalist id="articles_{texte}">
{#each articles as article}<option value="{article.id}" />{/each}
</datalist>

{#each articles as article}
{#if /Article ./.test(article.id)}
<datalist id="alineas_{texte}_{article.id.replace(/ /g, '_')}">
{#each article.alineas as alinea}<option value="{alinea}" />{/each}
</datalist>
{/if}
{/each}
{/if}

<style>
  hr {
    border-width: 1px;
  }

  textarea, :global(.ck.ck-editor.ck-reset), #titre {
    width: calc(100% - 2.1em);
    margin: 0 1em;
  }

  textarea, :global(.ck.ck-editor__editable) {
    min-height: 236.672px;
  }

  :global(.ck.ck-editor__editable) {
    min-height: 200px;
  }

  label input[type="radio"] {
    position: relative;
    top: 2px;
  }

  input[type="submit"] {
    margin: 0 0.5em;
  }

  .field {
    margin: 0.7em 0.5em;
  }

  .list-radio {
    display: inline-block;
  }

  /*input[type=text], textarea {
    border: 1px solid gray;
  }*/

  .indisponible {
    font-style: italic;
    text-align: center;
  }

  :global(div.ck.ck-editor__main>.ck-editor__editable.ck-read-only) {
    background-color: #ebebe4;
  }

  :global(.missing-field, .ck.ck-editor.missing-field) {
    border: 1px solid red;
  }

  .small-word {
    display: none;
  }

  @media screen and (max-width: 900px) {
    .big-word {
      display: none;
    }
    .small-word {
      display: inline;
    }
  }

  @media screen and (max-width: 700px) {
    .list-radio {
      display: block;
      margin: 1em 0 1em 1em;
    }
  }
</style>

<script>
  import htmlparser from "htmlparser2"
  import "isomorphic-fetch" // Required for old Safari versions.

  import * as sapper from "../../../../../__sapper__/client.js"
  import config from "../../../../config"
  import { sanitiseMinimalHtml, check_integrity_amendment } from "../../../../lib/check"
  import { preFilledAmendment } from "../../../../lib/legistique"

  export default {
    async preload({ params }) {
      const { texte, commission, amendement } = params,
        officiel = /^[0-9]+$/.test(texte)
      const { csrfToken } = this.store.get()

      let textUrl = `www.assemblee-nationale.fr/15/textes/${texte.padStart(4, "0")}.html`,
        fetchTextUrl = officiel ? await this.fetch(textUrl) : null
      if (fetchTextUrl && fetchTextUrl.status !== 200) {
        textUrl = `www.assemblee-nationale.fr/15/textes/${texte.padStart(4, "0")}.asp`
        fetchTextUrl = await this.fetch(textUrl)
      }

      /* Temporary read of articles names and alineas */
      let inArticleName = false,
        curArticle = null,
        articleName = "",
        articles = [],
        inAlinea = false,
        inPastille = false
      if (fetchTextUrl && fetchTextUrl.status === 200) {
        let parser = new htmlparser.Parser(
          {
            onopentag: function(name, attribs) {
              if (
                name === "p" &&
                (attribs.class === "a9ArticleNum" || attribs.class === "a4TitreNum")
              ) {
                inArticleName = true
                articleName = ""
              } else if (name === "p" && attribs.class === "aLoiTexte") {
                inAlinea = true
              } else if (
                inAlinea &&
                name === "span" &&
                attribs.class === "aEloiPastille"
              ) {
                inPastille = true
              }
            },
            ontext: function(text) {
              if (inArticleName) {
                articleName += text
              } else if (inPastille) {
                let pastilleName = text.replace(/^ *\((\d+)\) *$/, "$1")
                curArticle.alineas.push(pastilleName)
              }
            },
            onclosetag: function(tagname) {
              if (tagname === "p" && inArticleName) {
                inArticleName = false
                articleName = articleName.replace(/ \(nouveau\)$/, "")
                curArticle = { id: articleName, alineas: [] }
                articles.push(curArticle)
              } else if (tagname === "p" && inAlinea) {
                inAlinea = false
              } else if (tagname === "span" && inPastille) {
                inPastille = false
              }
            },
          },
          { decodeEntities: true },
        )
        let htmlppjl = await fetchTextUrl.text()
        parser.write(htmlppjl)
        parser.end()
      } else {
        textUrl = `www.assemblee-nationale.fr/15/propositions/pion${texte.padStart(4, "0")}.asp`
        fetchTextUrl = officiel ? await this.fetch(textUrl) : null
        if (fetchTextUrl && fetchTextUrl.status !== 200) {
          textUrl = `www.assemblee-nationale.fr/15/projets/pl${texte.padStart(4, "0")}.asp`
          fetchTextUrl = await this.fetch(textUrl)
          if (fetchTextUrl.status !== 200) {
            textUrl = null
          }
        } else {
          textUrl = null
        }
        articles = null
      }

      // Read from database
      let variables = { articles, texte, commission, amendement, textUrl, csrfToken }
      if (amendement && amendement !== "nouveau") {
        const amendementJsonRes = await this.fetch(
          `amendement/${texte}/${commission}/${amendement}.json`,
          { credentials: "same-origin" },
        )
        const amendementJson = await amendementJsonRes.json()
        if (amendementJsonRes.status === 200) {
          variables = Object.assign(variables, {
            amendementId: amendementJson.amdt_id,
            auteur: amendementJson.amdt_auteur,
            etat: amendementJson.amdt_etat,
            division: amendementJson.amdt_division
              ? amendementJson.amdt_division.trim()
              : null,
            division_place: amendementJson.amdt_division_place,
            alinea: amendementJson.amdt_alinea
              ? amendementJson.amdt_alinea.trim()
              : null,
            alinea_place: amendementJson.amdt_alinea_place,
            dispositif: sanitiseMinimalHtml(amendementJson.amdt_dispositif || ""),
            expose: sanitiseMinimalHtml(amendementJson.amdt_expose || ""),
            titre: amendementJson.amdt_titre,
            responsables: amendementJson.txt_responsables,
            amendable: amendementJson.txta_amendable,
            dispoChanged: true,
          })
        } else {
          this.error(amendementJsonRes.status)
        }
      }

      return variables
    },

    data() {
      return {
        amendementId: null,
        auteur: null,
        etat: "BROUILLON",
        division: null,
        division_place: "A",
        alinea: null,
        alinea_place: null,
        dispositif: "",
        expose: "",
        titre: null,
        responsables: [],
        dispoChanged: false,
        dispositifEditor: null,
        exposeEditor: null,
        futurEtat: null,
        amendable: true,
        csrfToken: null,
      }
    },

    async oncreate() {
      const ClassicEditor = (await import("@ckeditor/ckeditor5-build-classic")).default
      await import("@ckeditor/ckeditor5-build-classic/build/translations/fr.js")
      const { estResponsable, $auteur, auteur, amendable } = this.get()
      ClassicEditor
        // eslint-disable-next-line no-undef
        .create(document.querySelector("#dispositif"), {
            removePlugins: ["CKFinderUploadAdapter", "Bold", "Italic", "BlockQuote", "EasyImage", "Heading", "Image",
                            "ImageCaption", "ImageStyle", "ImageToolbar", "ImageUpload", "Link", "MediaEmbed"],
            language: "fr",
            toolbar: ["undo", "redo", "|", "bulletedList", "numberedList", "|", "insertTable"],
        })
        .then(editor => {
          this.set({ dispositifEditor: editor })
          editor.isReadOnly = (estResponsable && auteur !== $auteur) || (!estResponsable && !amendable)
          editor.model.document.on("change:data", () => {
            const { dispositif, futurEtat } = this.get(),
              editorData = editor.getData() || ""
            if (futurEtat === "DEPOSE") {
              if (editorData) {
                editor.ui.view.element.classList.remove("missing-field")
              } else {
                editor.ui.view.element.classList.add("missing-field")
              }
            }
            if ((dispositif || "") != editorData) {
              this.set({ dispositif: editorData })
            }
            this.pawnDispositif()
          })
        })
        .catch(error => {
           console.error( error )
        })
      ClassicEditor
        // eslint-disable-next-line no-undef
        .create(document.querySelector("#expose"), {
            removePlugins: ["CKFinderUploadAdapter", "Bold", "Italic", "BlockQuote", "EasyImage", "Heading", "Image",
                            "ImageCaption", "ImageStyle", "ImageToolbar", "ImageUpload", "Link", "MediaEmbed"],
            language: "fr",
            toolbar: ["undo", "redo", "|", "bulletedList", "numberedList", "|", "insertTable"],
        })
        .then(editor => {
          this.set({ exposeEditor: editor })
          editor.isReadOnly = (estResponsable && auteur !== $auteur) || (!estResponsable && !amendable)
          editor.model.document.on("change:data", () => {
            const { expose, futurEtat } = this.get(),
              editorData = editor.getData() || ""
            if (futurEtat === "DEPOSE") {
              if (editorData) {
                editor.ui.view.element.classList.remove("missing-field")
              } else {
                editor.ui.view.element.classList.add("missing-field")
              }
            }
            if ((expose || "") != editorData) {
              this.set({ expose: editorData })
            }
          })
        })
        .catch(error => {
           console.error( error )
        })
    },

    computed: {
      visibleAlinea: ({ division, division_place }) => {
        return (
          division &&
          division.length > 8 &&
          division.substring(0, 8).toLowerCase() === "article " &&
          division_place === "A"
        )
      },
      datalistArticles: ({ texte, articles }) => {
        return articles !== null
          ? "articles_" + texte
          : null
      },
      datalistAlineas: ({ visibleAlinea, division, texte }) => {
        return visibleAlinea
          ? "alineas_" + texte + "_" + division.replace(/ /g, "_")
          : null
      },
      anchorDivision: ({ division }) => {
        return division ? "#D_" + division.replace(/ /g, "_") : ""
      },
      estResponsable: ({ $auteur, $conseiller, responsables }) =>
        ($conseiller || (responsables || []).indexOf($auteur) !== -1),
      missingDivision: ({ division, futurEtat }) =>
        (!division && futurEtat ? "missing-field" : ""),
    },

    methods: {
      checkArticle() {
        let { division } = this.get()
        const {
          division_place,
          alinea,
          alinea_place,
          dispositif,
          dispoChanged,
          dispositifEditor,
        } = this.get()
        if (
          division &&
          division.length > 8 &&
          division.substring(0, 8).toLowerCase() === "article " &&
          division.substring(0, 8) !== "Article "
        ) {
          division = "Article " + division.substring(8)
          this.set({ division })
        }
        let preFilled = preFilledAmendment({
          division,
          division_place,
          alinea,
          alinea_place,
        })
        if (!dispoChanged || !dispositif) {
          this.set({ dispositif: preFilled })
          if (dispositifEditor) {
            dispositifEditor.setData(preFilled || "")
          }
          this.set({ dispoChanged: false })
        }
      },

      checkAlinea() {
        let { alinea_place } = this.get()
        const {
          division,
          division_place,
          alinea,
          dispositif,
          dispoChanged,
          dispositifEditor,
        } = this.get()
        if (alinea && !alinea_place) {
          alinea_place = "A"
          this.set({ alinea_place })
        }
        let preFilled = preFilledAmendment({
          division,
          division_place,
          alinea,
          alinea_place,
        })
        if (!dispoChanged || !dispositif) {
          this.set({ dispositif: preFilled })
          if (dispositifEditor) {
            dispositifEditor.setData(preFilled || "")
          }
          this.set({ dispoChanged: false })
        }
      },

      pawnDispositif() {
        const { dispositif, dispoChanged } = this.get()
        if (!dispositif && dispoChanged) {
          this.set({ dispoChanged: false })
        } else if (dispositif && !dispoChanged) {
          this.set({ dispoChanged: true })
        }
      },

      handleSubmit(event) {
        // prevent the page from reloading
        event.preventDefault()
      },

      async handleClick(action) {
        const {
          texte,
          commission,
          amendementId,
          division,
          division_place,
          alinea,
          alinea_place,
          dispositif,
          expose,
          titre,
          dispositifEditor,
          exposeEditor,
          csrfToken,
        } = this.get()
        const that = this
        const integrity = check_integrity_amendment(action, "deputé", {
          division,
          division_place,
          alinea,
          alinea_place,
          dispositif,
          expose,
        })
        if (integrity.status !== "success") {
          console.log(integrity)
          this.set({ futurEtat: action })
          if (action === "DEPOSE" && !dispositif) {
            dispositifEditor.ui.view.element.classList.add("missing-field")
          } else {
            dispositifEditor.ui.view.element.classList.remove("missing-field")
          }
          if (action === "DEPOSE" && !expose) {
            exposeEditor.ui.view.element.classList.add("missing-field")
          } else {
            exposeEditor.ui.view.element.classList.remove("missing-field")
          }
          return false
        }
        const s = await fetch(`/amendement/${texte}/${commission}/envoi`, {
          body: JSON.stringify({
            amendementId,
            action,
            texte,
            commission,
            division,
            division_place,
            alinea,
            alinea_place,
            dispositif,
            expose,
            titre,
          }),
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json; charset=utf-8",
            "CSRF-Token": csrfToken,
          },
          method: "POST",
        })
        if (s.status === 200) {
          that.set({ etat: action })
          const t = await s.json()
          that.set({ amendementId: t.id })
          sapper.goto(`/amendements/${texte}/${commission}`)
        }
      },
    },

    helpers: {
      config,
      raccourci_etat(etat) {
        if (etat === "BROUILLON") {
          return "brouillon"
        } else if (etat === "DEPOSE") {
          return "proposé"
        } else if (etat === "DISCUTE") {
          return "discuté"
        } else if (etat === "RETIRE") {
          return "retiré"
        }
        return ""
      },
      missingField(field, futurEtat) {
        return futurEtat === "DEPOSE" && !field ? "missing-field" : ""
      },
    },
  }

  // vim: set ts=2 sw=2 sts=2 et:
</script>
