<h2 class="font-normal text-center p-4 text-xl uppercase tracking-wide relative"
  id="calendrier"
>
 Agenda
  <div class=" absolute" style="top: 50%; transform: translateY(-50%); right: 5px;">
      <a
        href="https://nuage.groupe-larem.fr/index.php/apps/calendar/"
        target="_blank"  class=" hover:shadow-lg font-medium inline-block bg-cyan px-2 py-1 text-sm text-white lowercase leading-relaxed"
        ><Icon icon={faCalendarAlt}/>&nbsp;S'abonner</a>
    </div>
</h2>

<div class="flex flex-col bg-gray-100">
  <h3 class="mt-2 border-b pb-2">
  <span class="flex flex-row items-center justify-center">
    <a
      class="hover:opacity-100 opacity-50 text-md"
      href="?date={dateToLocalIso8601String(previousDay)}"
      on:click|preventDefault="fire('changeDate', previousDay)"
      ><Icon icon={faChevronLeft} /></a>
    <span class="inline-block mx-3 text-center w-56"
      >{frenchDateFormat.format(date)}</span
    >
    <a
      class="hover:opacity-100 opacity-50 text-md"
      href="?date={dateToLocalIso8601String(nextDay)}"
      on:click|preventDefault="fire('changeDate', nextDay)"
      ><Icon icon={faChevronRight} /></a>
  </span></h3>
  <div class="flex flex-wrap m-4 justify-between items-center">
    <ul class="text-sm flex flex-wrap calendrier-cats">
      {#each calendars as calendar}
      <li class="mr-4">
        <label class="relative cursor-pointer pl-5">
          <input
            checked="{calendar.checked}"
            on:click="toggleCalendar(calendar.segment)"
            type="checkbox"
          />
          <!-- Svelte removes background style when rendered on client => use a function to hide the background attribute. -->
          <span class="checkmark bg-gray-500 hover:bg-gray-400" style="{calendarColorStyle(calendar)}">&nbsp;&nbsp;&nbsp;</span>
          {calendar.displayName.split("(")[0].trim()}
        </label>
      </li>
      {/each}
    </ul>
  </div>
  <ul class="max-h-750 overflow-y-auto border-t border-gray-400 bg-white" style=" font-size:0.8em;">
    {#each calendarAndEventCouples as [calendar, event]}
    <li class="my-4">
      <div
        class="border-l-4 mb-3 px-3 py-1"
        style="{eventColorStyle(event)}"
      >
        <div class="font-semibold">
          {frenchTimeFormat.format(new Date(event.start)).replace(/:/, " h ")}
          {#if event.end && event.end !== event.start} -
          {frenchTimeFormat.format(new Date(event.end)).replace(/:/, " h ")}
          {/if} — {calendar.displayName.split("(")[0].trim()}
        </div>
        {#if event.location || event.ouverturePresse}
        <div>
          <span class="italic">{event.location || "Lieu à préciser"}</span>
          {#if event.ouverturePresse} — <i>Ouvert à la presse</i>{/if}
        </div>
        {/if}
      </div>
      {#if event.description}
      <div class="ml-5 whitespace-pre-line">
        {@html event.description}
      </div>
      {:elseif event.summary}
      <div class="ml-5 whitespace-pre-line">
        {@html event.summary}
      </div>
      {/if}
    </li>
    {/each}
  </ul>
</div>

<script>
  import { faCalendarAlt } from "@fortawesome/free-solid-svg-icons/faCalendarAlt"
  import { faChevronLeft } from "@fortawesome/free-solid-svg-icons/faChevronLeft"
  import { faChevronRight } from "@fortawesome/free-solid-svg-icons/faChevronRight"

  import {
    dateToLocalIso8601String,
    frenchDateFormat,
    frenchTimeFormat,
  } from "../lib/dates"

  export default {
    components: {
      Icon: "./Icon.html",
    },
    computed: {
      calendarAndEventCouples({
        calendarEventsBySegment,
        calendars,
        dateLocalIso8601String,
      }) {
        const calendarAndEventCouples = []
        for (const calendar of calendars) {
          if (calendar.checked) {
            const calendarEvents = calendarEventsBySegment[calendar.segment]
            if (calendarEvents !== undefined) {
              for (const event of calendarEvents) {
                if (
                  dateToLocalIso8601String(new Date(event.start)) ===
                  dateLocalIso8601String
                ) {
                  calendarAndEventCouples.push([calendar, event])
                }
              }
            }
          }
        }
        calendarAndEventCouples.sort((couple0, couple1) => {
          return couple0[1].start.localeCompare(couple1[1].start)
        })
        return calendarAndEventCouples
      },
      dateLocalIso8601String({ date }) {
        return dateToLocalIso8601String(date)
      },
      nextDay({ date }) {
        const nextDay = new Date(date)
        nextDay.setDate(nextDay.getDate() + 1)
        return nextDay
      },
      previousDay({ date }) {
        const previousDay = new Date(date)
        previousDay.setDate(previousDay.getDate() - 1)
        return previousDay
      },
    },
    helpers: {
      calendarColorStyle(calendar) {
        return `background-color: ${calendar.color}`
      },
      dateToLocalIso8601String,
      eventColorStyle(event) {
        // return `background-color: ${event.color}; color: ${event.textColor}`
        return `border-color: ${event.color}`
      },
      faCalendarAlt,
      faChevronLeft,
      faChevronRight,
      frenchDateFormat,
      frenchTimeFormat,
    },
    methods: {
      toggleCalendar(segment) {
        let { calendars } = this.get()
        const calendarIndex = calendars.findIndex(
          calendar => calendar.segment === segment,
        )
        if (calendarIndex >= 0) {
          let calendar = calendars[calendarIndex]
          calendar = {
            ...calendar,
            checked: !calendar.checked,
          }
          calendars = [...calendars]
          calendars[calendarIndex] = calendar
          this.set({ calendars })
        }
      },
    },
  }
</script>
