<!-- Code taken as-is from npm module fa-svelte@1.01, because latest version don't work with Svelte 2. -->

<svg
  aria-hidden="true"
  class="{classes}"
  role="img"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="{viewBox}"
>
  <path fill="currentColor" d="{path}" />
</svg>
<script>
  export default {
    computed: {
      viewBox(props) {
        return `0 0 ${props.icon.icon[0]} ${props.icon.icon[1]}`
      },
      classes(props) {
        var classes = "fa-svelte "
        if (props.class) {
          return classes + props.class
        }
        return classes
      },
      path(props) {
        return props.icon.icon[4]
      },
    },
  }
</script>

<style>
  .fa-svelte {
    width: 1em;
    height: 1em;
    overflow: visible;
    display: inline-block;
  }
</style>
