{#if messages && messages.length > 0}
  <ul class="tracking-wide leading-relaxed" style="font-size:0.8rem;">
    {#each filteredMessages as message, messageIndex (`${message.chat_id}/${message.id}`)}
        <!-- {#if messageIndex > 0}
          <hr class="border-b dotted h-px w-full ">
        {/if} -->
        <li class="flex border-b pt-4 pb-2 border-gray-400">
          <TelegramMessage {message} {showSender}/>
        </li>
    {/each}
  </ul>
{/if}

<script>
  export default {
    components: {
      TelegramMessage: "./TelegramMessage.html",
    },
    computed: {
      filteredMessages({ messages }) {
        return messages.filter(
          message =>
            !["messageChatUpgradeFrom", "messageContactRegistered", "messageCustomServiceAction"].includes(
              message.content["@type"],
            ),
        )
      },
    },
    data() {
      return {
        messages: null,
        showSender: true,
      }
    },
  }
</script>
