{#if articles && articles.length > 0 || messages && messages.length > 0}
  <ul class="tracking-wide leading-relaxed">
    {#each newsByDay as [date, newsByDay]}
      <li>
        <div class="flex border-b pt-4 pb-2 px-2 border-gray-400 italic">{frenchDateFormat.format(date)}</div>
        <ul style="font-size:0.8rem;">
          {#each newsByDay as newsItem}
            <li class="flex border-b pt-4 pb-2 border-gray-400">
              {#if newsItem._type === "article"}
                <ZendeskArticleSummary article={newsItem} />
              {:else}
                <TelegramMessage color="red-500" message={newsItem} showSender={false} />
              {/if}
            </li>
          {/each}
        </ul>
      </li>
    {/each}
  </ul>
{/if}

<script>
  import { dateToLocalIso8601String, frenchDateFormat } from "../lib/dates"

  export default {
    components: {
      TelegramMessage: "./TelegramMessage.html",
      ZendeskArticleSummary: "./ZendeskArticleSummary.html",
    },
    computed: {
      filteredMessages({ messages }) {
        return (messages || []).filter(
          message =>
            ![
              "messageChatAddMembers",
              "messageChatChangePhoto",
              "messageChatChangeTitle",
              "messageChatUpgradeFrom",
              "messageContactRegistered",
              "messageCustomServiceAction",
            ].includes(
              message.content["@type"],
            ),
        )
      },
      newsByDay({ articles, filteredMessages }) {
        const newsByDay = {}
        for (const message of filteredMessages) {
          const dateAndTime = new Date(message.date * 1000)
          const newsItem = {
            ...message,
            _time: dateAndTime.getTime(),
            _type: "message",
          }
          const dateString = dateToLocalIso8601String(dateAndTime)
          let newsAtDay = newsByDay[dateString]
          if (newsAtDay === undefined) {
            newsAtDay = newsByDay[dateString] = []
          }
          newsAtDay.push(newsItem)
        }
        for (const article of articles || []) {
          const dateAndTime = new Date(article.created_at)
          const newsItem = {
            ...article,
            _time: dateAndTime.getTime(),
            _type: "article",
          }
          const dateString = dateToLocalIso8601String(dateAndTime)
          let newsAtDay = newsByDay[dateString]
          if (newsAtDay === undefined) {
            newsAtDay = newsByDay[dateString] = []
          }
          newsAtDay.push(newsItem)
        }
        return Object.entries(newsByDay)
          .sort((a, b) => b[0].localeCompare(a[0]))
          .map(([dateString, newsAtDay]) => [
            new Date(dateString),
            newsAtDay.sort((a, b) => b._time - a._time),
          ])
          .slice(0, 4)
      },
    },
    data() {
      return {
        articles: null,
        messages: null,
      }
    },
    helpers: {
      frenchDateFormat,
    },
  }
</script>
