{#each entities as entity}
  {#if !entity.type}
    {entity.text}
  {:elseif entity.type["@type"] === "textEntityTypeBold"}
    <b>{entity.text}</b>
  {:elseif entity.type["@type"] === "textEntityTypeBotCommand"}
    <!-- Most of the times, it is not a bot command.
    For example in "80M€/an", "/an" is not a bot command. -->
    {entity.text}
  {:elseif entity.type["@type"] === "textEntityTypeCode"}
    <code>{entity.text}</code>
  {:elseif entity.type["@type"] === "textEntityTypeEmailAddress"}
    <a class="text-blue underline" href="mailto:{entity.text}">{entity.text}</a>
  {:elseif entity.type["@type"] === "textEntityTypeHashtag"}
    <span class="bg-blue-200">{entity.text}</span>
  {:elseif entity.type["@type"] === "textEntityTypeItalic"}
    <i>{entity.text}</i>
  {:elseif entity.type["@type"] === "textEntityTypeMentionName"}
    <span class="font-semibold">@{entity.text}</span>
  {:elseif entity.type["@type"] === "textEntityTypeTextUrl"}
    <a class="text-blue underline" href="{entity.type.url}" target="_blank">{entity.text}</a>
  {:elseif entity.type["@type"] === "textEntityTypeUrl"}
    <a class="text-blue underline" href="{entity.text}" target="_blank">{entity.text}</a>
  {:else}
    <span class="{entity.type["@type"]}">{entity.text}</span>
    <code>{JSON.stringify(entity, null, 2)}</code>
  {/if}
{/each}

<script>
  export default {
    computed: {
      entities({ formattedText }) {
        const entities = []
        const text = formattedText.text
        let index = 0
        for (let entity of formattedText.entities) {
          if (entity["@type"] === "textEntity") {
            if (entity.offset > index) {
              entities.push({ text: text.substring(index, entity.offset) })
            }
            entities.push({
              ...entity,
              text: text.substr(entity.offset, entity.length),
            })
            index = entity.offset + entity.length
          } else {
            console.log("Unknown entity type:", JSON.stringify(entity, null, 2))
          }
        }
        if (index < text.length) {
          entities.push({ text: text.substring(index, text.length) })
        }
        return entities
      },
    },
  }
</script>
