<div class="text-gray-600 text-xs mx-4 h-6 block">{frenchTimeFormat.format(new Date(article.created_at))}</div>
<div>
  <a href="{article.html_url}" class="text-gray-800 hover:text-cyan-dark">{article.title}</a>
</div>

<script>
  import { frenchTimeFormat } from "../lib/dates"

  export default {
    data() {
      return {
        article: null,
      }
    },
    helpers: {
      frenchTimeFormat,
    },
  }
</script>
