<svelte:head>
  <title>Texte n° {identifiant} - {config.title}</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">Texte n° {identifiant}</h1>

<script>
  import config from "../../config"

  export default {
    async preload({ params }) {
      const { identifiant } = params

      return { identifiant }
    },

    helpers: {
      config,
    },
  }

  // vim: set ts=2 sw=2 sts=2 et:
</script>
